<%- include ('partials/header') %>

<h3> <%= campground.name %> </h3>
<img src="<%= campground.image %>" alt="<%= campground.name %>">
<p> <%= campground.description %> </p>

<%- include ('partials/footer') %>