<%- include ('../partials/header') %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1 class="display-4">This is campground page</h1>
      <p class="lead">View our handpicked campgrounds from all over!</p>
      <p>
        <a class="btn btn-outline-secondary mr-2 " href="/">Go Back</a>
        <a class="btn btn-outline-primary" href="/campgrounds/new">Add Campgrounds</a>
      </p>
    </div>
  </header>

  <div class="row">
    <% campgrounds.forEach((campground)=>{ %>
    <div class=" col-md-4 col-sm-6">
      <div class="img-thumbnail">
        <img class="img-fluid " src="<%= campground.image %>" height="400px">
        <div class="overlay text-center">
          <h4 class="text-capitalize"><%= campground.name %></h4>
        </div>
        <p class="text-center">
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-secondary center">More Info</a>
        </p>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include ('../partials/footer') %>